<div class="container px-5 px-sm-0">
  <div class="row">
    
    <div class="col-md-3">
      <%= render 'users/user_info' %>
      <%= render 'new_book', new_book:@new_book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <%= render 'book_index', books:@books %>
    </div>
    
  </div>
</div>